* {
    margin:0;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid grey;
    padding: 10px;
    &__left {
        display: flex;
        align-items: center;
        gap: 20px;
        &__logoText {
            font-size: 3em;
            user-select: none;
        }
    }
    &__right {
        display: flex;
        align-items:center;
        &__name {
            font-size: 2em;
        }
    }
}

.middleBlock {
    height: 90vh;
    display:flex;
}